{% extends "base.html" %}
{% block title %}Рецепты{% endblock %}
{% block static %}
{% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock static %}
{% block content %}
{% include 'parts/nav.html' with index=True %}
{% load product_filters %}
{% load product_filters %}
{% csrf_token %}

 <main class="main container">
    
    <div class="main__header">
        <h1 class="main__title">{{ profile }}</h1>
        
        <ul class="tags">
            {% with filter_values=request.GET|get_filter_values %}
                {% for tag in all_tags %}
                    <li class="tags__item">
                        <a
                            id="{{ tag.value }}"
                            class="tags__checkbox tags__checkbox_style_{{ tag.colour }}
                            {% if tag.value in filter_values %}tags__checkbox_active {% endif %}"
                            href="{{profile.username}}?{{ request|get_filter_link:tag}}"></a>
                        <span class="tags__label">{{ tag.name }}</span>
                    </li>
                {% endfor %}
            {% endwith %}
        </ul>
    </div>

    {% if follow_button %}
        <div class="author-subscribe" data-author={{ profile.id }}>
            {% if not request|is_follower:profile %}
                <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></p>
            {% else %}
                <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" >Отписаться от автора</button></p>
            {% endif %}
        </div>
    {% endif %}

    
    <div class="card-list">
        {% for recipe in page %}
            {% include "parts/recipe_item.html" with recipe=recipe %}
        {% endfor %}
    </div>

    {% if page.has_other_pages %}
        {% include "parts/paginator.html" with items=page paginator=paginator tags_for_page=tags_list%}
    {% endif %}
</main>
{% endblock content %}

{% block js %}
  <script src="{% static 'js/components/MainCards.js' %}"></script>
  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>
  <script src="{% static 'js/components/Subscribe.js' %}"></script>

  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>

  <!-- <script src="{% static 'js/components/CardList.js' %}"></script> -->
  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'authorRecipe.js' %}"></script>
{% endblock js%}

