{% extends "base.html" %}
{% block title %}Избранное{% endblock %}
{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock static %}
{% block content %}
{% include 'parts/nav.html' with favorites=True %}
{% load product_filters %}
{% csrf_token %}

<main class="main container">

    <div class="main__header">

        <h1 class="main__title">Избранное</h1>
        
        <ul class="tags">
            {% with filter_values=request.GET|get_filter_values %}
                {% for tag in all_tags %}
                    <li class="tags__item">
                        <a
                            id="{{ tag.value }}"
                            class="tags__checkbox tags__checkbox_style_{{ tag.colour }}
                            {% if tag.value in filter_values %}tags__checkbox_active {% endif %}"
                            href="favorites?{{ request|get_filter_link:tag}}"></a>
                        <span class="tags__label">{{ tag.name }}</span>
                    </li>
                {% endfor %}
            {% endwith %}
        </ul>

    </div>

    <div class="card-list">
        {% for recipe in page %}
            {% include "parts/recipe_item.html" with recipe=recipe %}
        {% endfor %}
    </div>
        
    {% if page.has_other_pages %}
        {% include "parts/paginator.html" with items=page paginator=paginator tags_for_page=tags_list%}
    {% endif %}

</main>
{% endblock content %}
{% block js %}
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/components/Favorites.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/CardList.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'favorite.js' %}"></script>
{% endblock js%}

