{% extends "base.html" %}
{% block title %}Редактирование рецепта{% endblock %}
{% block static %}
{% load static %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock static %}
{% block content %}
{% include 'parts/nav.html' %}

<main class="main container">
   
    <div class="main__header">
        <h1 class="main__title">Редактирование рецепта</h1>
    </div>

    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form__group">
                <label for="id_name" class="form__label">Название рецепта</label>
                <div class="form__field-group">
                    <input type="text" id="id_name" name="title" class="form__input" value="{{ recipe.title }}">
                    <span class="form__error"></span>
                </div>
            </div>

            <div class="form__group">
                <p class="form__label">Теги</p>                
                
                <div class="form__field-group"> 
                    <div class="tags">
                        {% for tag in all_tags.all %}
                        <div class="tags__item">
                            <input type="checkbox" name="{{ tag.value }}" id="id_{{ tag.value }}" class="tags__checkbox tags__checkbox_style_{{ tag.colour }}" {% if tag.value in recipe_tags %} checked {% endif%}>
                            <label for="id_{{ tag.value }}" class="tags__label">{{ tag.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <span class="form__error"></span>
                </div>

                <span class="form__error">{{ form.tags.errors }}</span>
            </div> 

            <div class="form__group">
                <label for="nameIngredient" class="form__label">Ингредиенты</label>
                
                <div class="form__field-group">
                    
                    <div class="form__field-group-ingredientes">
                        
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>

                        <input type="number" id="cantidad" class="form__input" min="0">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>
                    <div class="form__field-group-ingredientes-container">
                        {% for content in recipe.contents.all %}
                        <div class="form__field-item-ingredient" id="ing{{ forloop.counter }}">
                            <span> {{ content.ingredient.title }} - {{ content.quantity }} {{ content.ingredient.dimension }}</span>
                            <span class="form__field-item-delete"></span>
                            <input id="nameIngredient_{{ forloop.counter }}" name="nameIngredient_{{ forloop.counter }}" type="hidden" value="{{ content.ingredient.title }}" onclick="ingredient.delete">
                            <input id="valueIngredient_{{ forloop.counter }}" name="valueIngredient_{{ forloop.counter }}" type="hidden" value="{{ content.quantity }}">
                            <input id="unitsIngredient_{{ forloop.counter }}" name="unitsIngredient_{{ forloop.counter }}" type="hidden" value="{{ content.ingredient.dimension }}">
                        </div>
                        {% endfor %}
                    </div>

                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <span class="form__error"></span>
                </div>
                

            </div>

            <div class="form__group">
                <label for="id_time" class="form__label">Время приготовления</label>
                <div class="form__field-group form__field-group_time">
                    <input type="text" id="id_time" name="cooking_time" class="form__input" value="{{ recipe.cooking_time }}">
                    <label for="id_time" class="form__label">минут</label>
                    <span class="form__error"></span>
                </div>
            </div>

            <div class="form__group">
                <label for="id_description" class="form__label">Описание</label>
                <div class="form__field-group">
                    <textarea name="description" id="id_description" rows="8" class="form__textarea">{{ recipe.description }}</textarea>
                    <span class="form__error"></span>
                </div>
            </div>

            <div class="form__group">
                <span class="form__label">Загрузить фото </span>
                <div class="form__field-group">
                    <input type="file" name="image" id="id_file">
                    <span class="form__error"></span>
                </div>
            </div>

            <div class="form__footer">
                <button class="button button_style_blue">Сохранить</button> <a style="margin-left: 2.5em" href="{% url 'delete_recipe' recipe.author.username recipe.id %}" class="form__ingredient-link">Удалить</a>
            </div>
        </form>

    </div>
</main>
{% endblock content %}
{% block js %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/utils/debouncing.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'formRecipe.js' %}"></script>
{% endblock js%}

